@using SSMS.Models
@model List<Student>
@{
    ViewBag.Title = "StudentsClass";
    //Layout = "~/Views/Shared/_DisplayDataLayout.cshtml";
}
@section LinkStyle{
    <link href="~/Content/_DisplayDataLayout.css" rel="stylesheet" />
    <link href="~/Content/TeacherClasses_Style.css" rel="stylesheet" />
}
@section StyleTag{
    .table1 th, td{
    width:165px;
    }
    .Menu ul{
    margin-top:20px;
    }
}
<div class="parent">
    <div class="Childs">
        <div class="Child1">
            <div class="welc-letter">
                <div class="Admin-Word">Student</div>
                <div>
                    <h3>welcome,</h3>
                    <span>@Session["UserName"]</span>
                </div>
            </div>
            <div class="Menu">
                <ul>
                    <li>@Html.ActionLink("Classes","Classes","Admin")</li>
                </ul>
            </div>
        </div>
        <div class="Child2">
            <div class="table-title">
                <h3>Class Students</h3>
            </div>
            @if (Model.Count > 0)
            {
                <div>
                    <table class="table1">
                        <tr>
                            <th>StudentId</th>
                            <th>FName(Ar)</th>
                            <th>FName(En)</th>
                            <th>Gender</th>
                            <th>Marks</th>
                            <th>UserId</th>
                        </tr>
                        @foreach (var student in Model)
                        {
                            <tr>
                                <td>@student.StudentID</td>
                                <td>@student.FullNameInArabic</td>
                                <td>@student.FullNameInEnglish</td>
                                <td>@student.Gender</td>
                                <td>@Html.ActionLink("Marks","Marks","Classes",new { id = student.StudentID,ClassId = ViewBag.ClassId },null)</td>
                                <td>@student.UserId</td>
                            </tr>
                        }
                    </table>
                </div>
               }
               else
                 {
                    <div class="Data-Not-Found">There is no data to display</div>
                 }
        </div>
    </div>
</div>


