@model SSMS.Models.User

@{
    ViewBag.Title = "DeleteUser";
}

@section LinkStyle
    {
        <link rel="stylesheet" href="~/Content/DeleteUser_Style.css" />
    }
<div class="parent">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserType)
        </dd>
    </dl>
    @using (Html.BeginForm("DeleteUser","Admin",FormMethod.Post, new { onsubmit = "return DeleteConfirm();"})) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <span> | </span>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
@section Scripts{
    <script src="~/scripts/DeleteUser_Script.js"></script>
}
